
body{
    margin:0px;
    padding: 0px;
}
.header,.menu-items,.logoBox{
    display: flex;
    align-items: center;
   
}
.header{
    padding-bottom: 10px;
}
.menu-items{
    align-items: flex-end;
    flex-direction: column;
    color: #08043b;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex:2;
}  
.menu-items ul li{
    list-style-type: none;
    display: inline;
}
.menu-items ul li:hover{
    background-color: green;
    border-radius: 5px;
    padding: 5px;
}
.menu-items ul li a{
    margin: 10px;
    /* padding: 5px; */
    text-decoration: none;
    color: #08043b;
   
}
.menu-items ul li a:hover{
    color:yellow;
}
.logoBox img{
    width:50px;
    height: 50px;
    margin: 0px 10px 0px 10px;
}
.logoBox span{
    color: red;
    font-weight: bolder;
    font-size: x-large;
    border: 2px solid black;
    /* padding: 2px; */
}
.logoName{
    font-size: larger;
    font-weight: bold;
    /* margin: 10px;
    padding: 5px; */
}
.banner{
    background-image: url("images/pexels-any-lane-5945657.jpg");
   background-position: center;
    height: 350px;
}
.banner h1{
    color:white;
    font-weight: bolder;
    
    /* background-color: blueviolet; */
    margin-top: 80px;
    margin-bottom: 0px;
}
.banner h2{
    /* background-color: #08043b; */
    margin-top: 0px;
    color: yellow !important;
    background-color: rgba(8, 4, 59,0.5);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    font-weight: lighter;
}
.banner div{
    width:50%;
    margin-left: 50px;
    height: 350px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    padding: 10px;
}
section{
    /* height: 350px; */
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 50px 20px 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}
section:nth-child(odd){
    background-color: rgba(128, 128, 128, 0.2);
}
section img{
    height: 300px;
    width: 300px;
    /* margin-right: 40px;
    margin-left: 40px; */
}
.secText{
    flex:2;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; 
}
h2{
    /* font-weight: bolder; */
    color: #08043b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.teamSection,.services{
    flex-direction: column;
}
.teamSection{
    padding: 0px 50px 0px 50px;
}
.imgNameSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: blueviolet; */
    width:100%;
    padding: 10px;
}
.imgNameBox .images{
    width: 170px;
    height: 200px;
    display: flex;
    align-items: flex-end;
}
.imgNameBox{
    margin-right: 30px;
}
.imgNameBox .img1{
    background-image: url("images/human1.jpg");
    background-size: cover;
}
.imgNameBox .img2{
    background-image: url("images/human2.jpg");
    background-size: cover;
}
.imgNameBox .img3{
    background-image: url("images/human3.jpg");
    background-size: cover;
}
.imgNameBox .img4{
    background-image: url("images/human4.jpg");
    background-size: cover;
}
.names{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    background-color: #08043b;
    width: 100%;
    opacity: 0;
   
}
.names:hover{
    opacity: 1;
    cursor: pointer;
    transition: 0.5s opacity;
}
.names div:first-child{
    color:white;
    font-weight: bold;
}
.names div:last-child{
    color:rgb(223, 226, 10);
}
.iconsContainerSection{
    display: flex;
    /* background-color: blueviolet; */
    width: 100%;
    height: 300px;
    align-items: center; 
    justify-content: center;
    /* margin-top: 30px; */
}
.icons{
    border-radius: 50%;
    padding: 20px;
    background-color: #08043b;
    height: 50%;
    /* margin-left: 30px; */
}
.icons img{
    width:80px;
    height: 80px;
}
.boxedIcon{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    /* width: 200px; */
}
.readMore a{
    color:red;
    font-weight: bold;
}
.services div h2{
    margin-bottom: 2px;
}
.sponsors{
    height: 150px;
    align-items: center;
    justify-content: space-around;
    flex-flow: column wrap;
    padding: 0px 50px 0px 50px;
}
.sponsors img{
    width:5rem;
    height:5rem;
    
    /* margin-right: 100px; */
}
footer{
    background-color: black;
    color: white;
    height: 50px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px 0px 50px;
    
}
.otherPage{
    background-color: #08043b;
}
.otherPage h2{
    color:yellow;
    font-weight: lighter;
    letter-spacing: 10px;
    font-size: 5rem;
}